
body{
    margin:0;
}.bg{
    background-color: rgb(5, 89, 247);
  

}
.logo{
   margin-left: 300px;
    max-width: 6%;
}

h1{

    color:white;
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: 45px;
    
}
ul{
    display: inline;
   list-style-type: none;
    margin-left: 45px;
    
    
    
}


.intro{
    text-align: center;
    padding-bottom: 150px;
}


    

nav{
    margin-left: 500px;
    text-align: center;
    margin-top: -90px;
}
nav ul{
    
    display: inline-block;
    color: white;
}
nav ul li{
    float: left;
    
    text-decoration: none;
}

nav, ul, li, a{
 
    padding : 8px;
    color: white;
   
}

button{
    border-radius: 18px;
    height :fit-content;
    width: fit-content;
}


nav ul button:hover{
    background-color:rgb(5,89,247);
    color: white;
}

.about {
    text-align: center;
    font-size: larger;
    padding-top: 5%;
}